html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* FONTS
font-family: 'Droid Sans', sans-serif;
font-family: 'Lobster', cursive;
*/
/* Placeholder */
#template{
  opacity: 0.5;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
body *{
  font-family: 'Droid Sans', sans-serif;
}
strong{
  font-weight:bold;
}
a{
  color:#000;
  text-decoration:none;
  font-family: 'Droid Sans', sans-serif;
  text-transform:capitalize;
}
hr{
  margin-top:48px;
  border:1px solid #000;
}
.preloader{
  width: 100%;
  height: 36px;
  clear: both;
  float: none;
  text-align: center;
}
.invisible{
  opacity:0;
}
button{
  border: none;
  background-color: #000;
  color: #fff;
  padding: 9px 11px;
  opacity:0.4;
  cursor:pointer;
}
button:hover{
  opacity:1;
}
#websiteContainer{
    position: absolute;
    max-width: 750px;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
}
.header{
  width:100%;
  height:149px;
  background-image:url(../img/bg.png);
}
.header > .inner{
  max-width: 960px;
  margin: auto;
  padding:55px 0px;
  overflow:auto;
}
.header .social{
  margin-left:76px;
  float: left;
}
.social .inner li{
 float:left;
  margin-right:8px;
}
.header .social li a{
  font-size:22px;
}
/* Navigation */
.header .nav-bar{
  float: left;
  margin-left: 30px;
}
.header .nav-bar li{
  float:left;
  margin-right:15px;
}
.header .nav-bar li:nth-child(4){
  color:red;
  margin-left: 120px;
}
.header .nav-bar li a{
  font-size: 25px;
  letter-spacing: 1px;
  font-family: 'Lobster', cursive;
}
.logo{
  font-family: 'Lobster', cursive;
  width: 130px;
  height: auto;
  background-color: #1a1a1a;
  /* border: 1px solid #000; */
  color: #fff;
  font-size: 37.5px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 75px;
}
.logo div{
    width: 100%;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 122px;
    letter-spacing: 2px  ;
}
.logo img{
  width:100%;
}
/* Cart */
.cart{
  width: 60px;
  padding: 0px 4px 0px 3px;
  float: left;
  margin-left: 25px;
  margin-top: -37px;;
}
.fa-shopping-cart{
  float:left;
  font-size:12px;
  padding:4px 2px 4px 4px;
  color:#000;
}
.cart button{
  font-family: 'Droid Sans', sans-serif;
  float: left;
  text-transform: uppercase;
  font-size: 9px;
  padding: 6px 2px;
  margin-left: 2px;
  font-weight: bold;
  color: #fff;
  background-color: #a6a6a6;
  width: 100%;
  border: none;
  opacity:1;
}
.cart button:hover{
  background-color:#000;
}
#merchImage{
  overflow: hidden;
  height: 132px;
  border-bottom: 2px solid #000;
}
#merchImage img{
  margin-top: 16px;
  margin-left: 0px;
  width: 100%;
  transform-origin: 50% 50%;
  transform: scale(1.2);
}
/* Cart Full View */
.cartFull{
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.cartFull button.cartClose{
  float: right;
}
button.cartDelete{
  margin-left:10px;
}
.quantityCount{
  margin:0px 5px;
}
.cartItem{
  margin:10px 0px;
}
/* Store Front */
.merchandise{
 width:100%;
  max-width:750px;
  margin:auto;
  margin-top:40px;
  overflow-y:auto;
  overflow:visible;
}
.merchandise .product{
  float:left;
  width:20%;
  margin-right:50px;
  margin-bottom:30px;
  cursor:pointer;
}
.merchandise .product .inner{

}
.merchandise .product:nth-child(4),.merchandise .product:last-child{
  margin-right:0px;
}
.merchandise .image{
  width:100%;
  height:140px;
  border:1px solid #000;
  margin-bottom: 5px;
}
.productsImageList{
  width: 90%;
  margin: auto;
  overflow:hidden;
}
.productsImageList img{
  width:100%;
}
.merchandise h1, .merchandise h2{
  font-family: 'Droid Sans', sans-serif;
  font-weight:bold;
  text-transform:uppercase;
}
.merchandise .description{
  margin-top:2px;
  font-size:12px;
}
.merchandise .price{
  font-size:13px;
}
/* Checkout */
#payment-form{
  float:none;
  margin:auto;
  clear: both;
}
.input-group{
  display: table;
  width: 50%;
  margin-bottom: 1rem;
  float: left;
}
.exp input{
  margin-bottom:0px;
}
#payment-form .submit{
  border: none;
  background-color: #000;
  color: #fff;
  padding: 9px 11px;
  opacity: 0.4;
  cursor: pointer;
  width:100%;
}
button.checkoutButton{
  float: left;
  margin-top:10px;;
}

/* Footer */
footer{
  height:100px;
  background-image:url(../img/bg.png);
}
footer ul:first-child{
  margin-left:110px;
}
footer ul{
  float:left;
  margin-right:90px;
  margin-top:10px;
}
footer ul li{
  margin-bottom: -6px;
}
footer ul li a{
  font-size:10px;
  font-weight:bold;
}
/* User account */
.ordersHeader{
  font-size:20px;
}
.order{
  margin-bottom:10px;
}
/*==========
Welcome Message
===========*/
.welcomeMessage{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
/*==========
Product Full View
===========*/
.productFull{
  width: 100%;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 220px;
}
.productFull .product{
  float:left;
}
.productFull > .inner{

}
.productFull h1{
}
.productFull .productFullName{
  font-size: 50px;
  line-height: 34px;
}
.productFull .price{
  font-size:30px;
  margin-bottom:25px;
  color:#4D4D4D;
}
.addtoCartBtn{
  margin-bottom:30px;
}
.product .description{
  font-size: 13px;
}
.image {
  width: 40%;
  float: left;
}
.image .inner{
  width: 152px;
  margin: auto;
  border: 1px solid #000;
  padding: 0px;
  height: 152px;
}
.image .inner img{
  width:100%;
}
.slide{
  float: left;
  display: inline;
  position: absolute;
}

/*==========
Login / Signup / Signout elements
===========*/
.form{
width: 320px;
  margin:auto;
  margin-top:20px;
}
.form label,.form input{
  width:100%;
  font-weight:bold;
}
.form input{
  padding:10px 0px;
}
.form button{
  width:100%;
}
.signup.cta{
  margin-top:10px;
}
.close{
  width:100%;
  height:50px;
}
.close button.inner{
  font-size:15px;
  width: 60px;
  float: right;
}
/*==========
Modal
===========*/
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.hidden{
  display:none;
}
/*==========
Media Queries
===========*/
@media screen and (max-width: 875px) {
  #websiteContainer{
    position: relative;
    width: 100%;
  }
  /*==========
  Header
  ===========*/
  .header{
    overflow: auto;
    height:auto;
  }
  .header > .inner{
    width:100%;
    padding:20px 0px;
  }
  .header .nav-bar,.header .social,.header .cart{
    margin:0px;
  }
  .header .social{
    margin: auto;
    max-width: 60px;
    position: relative;
    clear: both;
    float: none;
    overflow: auto;
    padding: 10px 0px;
  }
  .social .inner{
    width: 60px;
    height: 25px;
  }
  .social .inner li {
    float: left;
    margin-right: 10px;
  }
  .social .inner li:last-child{
    margin-right:0px;
  }
  .header .social li a {
    font-size: 26px;
  }
  .logo{
    position: relative;
    margin: 0px;
    top: 0;
    margin: auto;
    margin-bottom: 130px;
    margin-top: 58px;
  }
  .header .nav-bar li,.header .nav-bar li:nth-child(4){
    width:100%;
    float:none;
    position:relative;
    margin:0px;
    text-align:center;
    margin-right:0px;
  }
  .header .nav-bar{
    margin: auto;
    float: none;
    max-width: 230px;
    padding:10px 0px;
  }
  .cart{
    clear:both;
    margin:auto;
    cursor:pointer;
  }
  hr{
    clear:both;
    margin-top:20px;
  }
  .merchandise .product {
    width: 50%;
    margin-right: 0px;
  }
  .merchandise .product .inner {
    padding: 0px 20px;
  }
  .header .cart{
    margin: auto;
    float: none;
    height: 20px;
  }

  /*==========
  Merchandise image mobile
  ===========*/
  #merchImage {
    overflow: hidden;
    height: 100px;
    width: 320px;
    margin: auto;
  }
  #merchImage img {
    width: 320px;
    margin-top: 17px;
    margin-left: auto;
    float: none;
  }

  /*==========
  Product Mobile
  ===========*/
  .product{
    padding: 0px 15px;
  }
  .productFullName{
    margin-top:15px;
  }
  .image {
    width: 100%;
    float: none;
  }
  /*==========
  Footer Mobile
  ===========*/
  footer ul,footer ul:first-child {
    float: left;
    margin-right:0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    margin-bottom:20px;
  }



}
